In [1]:
from factset_collector import FactSetCollector
import pandas as pd

In [2]:
from factset_collector import FactSetCollector, fetch_benchmark

collector = FactSetCollector()

# ============================================================
# Method 1: Using fetch_benchmark helper (recommended)
# ============================================================

# Get S&P 500 total return
sp500_tr = fetch_benchmark(
    collector, 
    'S&P 500', 
    'total_return', 
    '2023-01-01', 
    '2023-12-31'
)

# Get S&P 500 constituents
sp500_const = fetch_benchmark(
    collector, 
    'S&P 500', 
    'constituents', 
    '2023-01-01', 
    '2023-01-31'
)

# Get SPY OHLCV (via benchmark dict)
spy_ohlcv = fetch_benchmark(
    collector, 
    'S&P 500', 
    'ohlcv', 
    '2023-01-01', 
    '2023-12-31'
)

# ============================================================
# Method 2: Using fetch_history (existing interface)
# ============================================================

# Multiple tickers OHLCV (works with your existing pipeline)
df = collector.fetch_history(
    tickers=['SPY', 'XLE', 'XLF'],
    start_date='2023-01-01',
    end_date='2023-12-31'
)
# Returns MultiIndex: [('SPY', 'Open'), ('SPY', 'High'), ...]

/opt/conda/envs/python311/lib/python3.11/site-packages/fds/fpe/quant/company.py:106: RuntimeWarning: UPDATE Company is now using FG_PRICE (the FactSet Global prices database) instead of P_PRICE to source prices

FQL: 0it [00:00, ?it/s]

Generating DataFrame: 0it [00:00, ?it/s]

/opt/conda/envs/python311/lib/python3.11/site-packages/fds/fpe/quant/company.py:158: RuntimeWarning: Stock and/or benchmark price series contain NaN values. Dates with NaN values will be dropped

Screen: 0it [00:00, ?it/s]

Generating DataFrame: 0it [00:00, ?it/s]

Screen: 0it [00:00, ?it/s]

Generating DataFrame: 0it [00:00, ?it/s]

Screen: 0it [00:00, ?it/s]

Generating DataFrame: 0it [00:00, ?it/s]

In [3]:
sp500_const

                     ison_univ                  company_name   ticker  \
date       symbol
2023-01-31 00105510       True            Aflac Incorporated   AFL-US
           00130H10       True               AES Corporation   AES-US
           00206R10       True                      AT&T Inc     T-US
           00282410       True           Abbott Laboratories   ABT-US
           00287Y10       True                  AbbVie, Inc.  ABBV-US
...                        ...                           ...      ...
           H1467J10       True                 Chubb Limited    CB-US
           H2906T10       True                   Garmin Ltd.  GRMN-US
           N5374510       True  LyondellBasell Industries NV   LYB-US
           N6596X10       True         NXP Semiconductors NV  NXPI-US
           V7780T10       True         Royal Caribbean Group   RCL-US

                     P_PRICE(0,USD)  FREF_MARKET_VALUE_COMPANY(0,USD)  \
date       symbol
2023-01-31 00105510           73.50                      45701.460205
           00130H10           27.41                      18308.503041
           00206R10           20.37                     145176.995981
           00282410          110.55                     192752.081224
           00287Y10          147.75                     261292.989258
...                             ...                               ...
           H1467J10          227.49                      94419.793427
           H2906T10           98.88                      18951.729903
           N5374510           96.69                      31484.628932
           N6596X10          184.31                      47761.144894
           V7780T10           64.94                      16575.203344

                                  FG_COMPANY_NAME
date       symbol
2023-01-31 00105510            Aflac Incorporated
           00130H10               AES Corporation
           00206R10                      AT&T Inc
           00282410           Abbott Laboratories
           00287Y10                  AbbVie, Inc.
...                                           ...
           H1467J10                 Chubb Limited
           H2906T10                   Garmin Ltd.
           N5374510  LyondellBasell Industries NV
           N6596X10         NXP Semiconductors NV
           V7780T10         Royal Caribbean Group

[503 rows x 6 columns]

In [4]:
spy_ohlcv

symbol      SPY-US
             Close    High      Low    Open    Volume
date
2022-12-30  382.43  382.58  378.430  380.64   84.0222
2023-01-02  382.43  382.58  378.430  380.64    0.0000
2023-01-03  380.82  386.43  377.831  384.37   74.8507
2023-01-04  383.76  385.88  380.000  383.18   85.9341
2023-01-05  379.38  381.84  378.760  381.72   76.9705
...            ...     ...      ...     ...       ...
2023-12-25  473.65  475.38  471.700  473.86    0.0000
2023-12-26  475.65  476.58  473.990  474.07   55.3870
2023-12-27  476.51  476.66  474.890  475.44   68.0003
2023-12-28  476.69  477.55  476.260  476.88   77.1581
2023-12-29  475.31  477.03  473.300  476.49  122.2830

[261 rows x 5 columns]

In [5]:
sp500_tr

              SP50.R
2023-12-26 -0.001509
2023-12-25 -0.004219
2023-12-22  0.000000
2023-12-21 -0.001659
2023-12-20 -0.010199
...              ...
1990-01-04  0.009830
1990-01-03  0.008253
1990-01-02  0.002573
1990-01-01 -0.017487
1989-12-29  0.000000

[8868 rows x 1 columns]

In [6]:
df

               SPY                                        XLE           \
             Close    High      Low    Open    Volume   Close     High
date
2022-12-30  382.43  382.58  378.430  380.64   84.0222  43.735  43.8200
2023-01-02  382.43  382.58  378.430  380.64    0.0000  43.735  43.8200
2023-01-03  380.82  386.43  377.831  384.37   74.8507  42.200  43.6800
2023-01-04  383.76  385.88  380.000  383.18   85.9341  42.195  42.4400
2023-01-05  379.38  381.84  378.760  381.72   76.9705  42.965  43.2000
...            ...     ...      ...     ...       ...     ...      ...
2023-12-25  473.65  475.38  471.700  473.86    0.0000  42.490  42.8575
2023-12-26  475.65  476.58  473.990  474.07   55.3870  42.855  43.0825
2023-12-27  476.51  476.66  474.890  475.44   68.0003  42.665  43.0000
2023-12-28  476.69  477.55  476.260  476.88   77.1581  42.015  42.6075
2023-12-29  475.31  477.03  473.300  476.49  122.2830  41.920  42.2000

                                        XLF
                Low    Open   Volume  Close    High      Low   Open   Volume
date
2022-12-30  43.2250  43.230  22.6618  34.20  34.265  33.9200  34.04  24.7357
2023-01-02  43.2250  43.230   0.0000  34.20  34.265  33.9200  34.04   0.0000
2023-01-03  41.6750  43.460  53.0828  34.32  34.690  34.0700  34.45  37.3965
2023-01-04  41.4150  41.575  45.7052  34.87  35.120  34.5700  34.67  44.6693
2023-01-05  42.0050  42.125  38.7237  34.61  34.750  34.3700  34.75  45.5858
...             ...     ...      ...    ...     ...      ...    ...      ...
2023-12-25  42.4225  42.670   0.0000  37.34  37.490  37.2000  37.37   0.0000
2023-12-26  42.7200  42.850  25.9835  37.49  37.560  37.3100  37.37  17.8376
2023-12-27  42.5100  42.855  20.2382  37.61  37.610  37.3550  37.41  32.6408
2023-12-28  42.0000  42.445  26.1981  37.72  37.800  37.5400  37.55  25.3080
2023-12-29  41.7950  42.160  24.3455  37.60  37.770  37.4901  37.71  30.2183

[261 rows x 15 columns]